<script>
  import Breadcrumb from "sveltestrap/src/Breadcrumb.svelte";
  import BreadcrumbItem from "sveltestrap/src/BreadcrumbItem.svelte";
  import Card from "sveltestrap/src/Card.svelte";
  import CardBody from "sveltestrap/src/CardBody.svelte";
  import CardHeader from "sveltestrap/src/CardHeader.svelte";
  // import CustomCard from "../components/CustomCard.svelte";
  import Row from "sveltestrap/src/Row.svelte";
  // import Table from "../components/TableProyectos.svelte";
</script>

<h1 class="mt-4">Alumnos</h1>
<Breadcrumb class="mb-4">
  <BreadcrumbItem>
    <!-- <a href=".">Dashboard</a> -->
  </BreadcrumbItem>
  <BreadcrumbItem active>Alumnos</BreadcrumbItem>
</Breadcrumb>

<!-- <div id="alumnos">
  {#each $alumnos as alumno}
    <alumno {alumno} />
  {/each}
</div> -->

<Row>
  <!-- <CustomCard cardTitle="Listado de Alumnos" cardIcon="fas fa-table">
    <Table />
  </CustomCard> -->
</Row>
