<script>
  import Breadcrumb from "sveltestrap/src/Breadcrumb.svelte";
  import BreadcrumbItem from "sveltestrap/src/BreadcrumbItem.svelte";
  import Card from "sveltestrap/src/Card.svelte";
  import CardBody from "sveltestrap/src/CardBody.svelte";
  import CardHeader from "sveltestrap/src/CardHeader.svelte";
  import CardText from "sveltestrap/src/CardText.svelte";
  import CardSubtitle from "sveltestrap/src/CardSubtitle.svelte";
  import Row from "sveltestrap/src/Row.svelte";

  // import DashboardCard from "../components/DashboardCard.svelte";
  // import CustomCard from "../components/CustomCard.svelte";
  // import Table from "../components/TableProyectos.svelte";
  // import AreaChart from "../components/Charts/AreaChart.svelte";
  // import BarChart from "../components/Charts/BarChart.svelte";
  let title = "Sistema de Control de Busqueda de Expedientes";
</script>

<svelte:head>
  <title>{title}</title>
</svelte:head>
<h1 class="mt-4">Listado de Proyectos</h1>
<Breadcrumb class="mb-4">
  <BreadcrumbItem active>Listado de Proyectos</BreadcrumbItem>
</Breadcrumb>
<Row>
  <!-- <CustomCard cardTitle="Listado de Proyectos" cardIcon="fas fa-table">
    <Table />
  </CustomCard> -->
</Row>
