<!-- <script>
  // import { alumnos } from "./data-alumnos.js";
  import { onMount } from "svelte";

  onMoun(async () => {
    const url = "http://127.0.0.1:8000/api/alumno";
    let res = await fetch(url);
    res = await res.json();
    //  let data = res.data;
    //console.log(data);
    $alumnos = res.data;
  });
</script><div id="alumnos">alumno</div> -->
