<script>
  let files;
  let statusCode = "";

  // async function handleSubmit() {
  //   if (files.length > 0) {
  //     const formData = new FormData();
  //     formData.append("file", files[0]);
  //     const response = await fetch(
  //       "http://127.0.0.1:8000/api/documento",
  //       // "/gateway/media_objects",
  //       {
  //         method: "POST",
  //         body: formData
  //       });
  //     statusCode = response.status;
  //   }
  // }

  async function handleSubmit() {
    if (files.length > 0) {
      const formData = new FormData();
      formData.append("file", files[0]);
      //   const response = await fetch("/gateway/media_objects/",
      const response = await fetch(
        "http://127.0.0.1:8000/api/documento",
        //const response = await fetch("/api/guardarDocumento",
        {
          method: "POST",
          headers: {
            Accept: "application/json",
            "Content-Type": "application/json"
          },
          body: formData
        }
      );
      statusCode = response.status;
    }
  }
</script>

<!-- // components/File/Upload.svelte -->
{statusCode}
<form on:submit|preventDefault={handleSubmit}>
  <label for="file">File</label>
  <input required id="file" type="file" bind:files />
  <input type="submit" value="Upload file" />
</form>