<script>
  import Card from "../components/Card.svelte";
  import { onMount } from "svelte";
  import http from "../http";
  import Button from "sveltestrap/src/Button.svelte";

  let categories = [];
  let category = {};

  let buttonSaveIsLoading = false;
  $: buttonSaveClass =
    buttonSaveIsLoading === true
      ? "button is-success is-loading"
      : "button is-success";

  let modalIsVisible = false;
  $: modalClass = modalIsVisible === true ? "modal is-active" : "modal";

  onMount(async () => {
    categories = getCategories();
  });

  // async function getCategories() {
  //   // a simple use of "fetch"
  //   const result = await fetch("https://northwind.now.sh/api/categories");

  async function getCategories() {
    // a simple use of "fetch"
    const result = await fetch("http://127.0.0.1:8000/api/usuario");

    if (result.ok) return result.json();

    throw new Error(
      `🚨 Catastrofic failure 🚨 ${result.status} ${result.statusText}`
    );
  }

  function onItemClick(item) {
    category = item;
    openModal();
  }

  async function onDeleteClick(item) {
    category = item;
    if (confirm(`Delete "${category.nombre}"?`)) {
      await http.delete(`/usuario/${category.id}`);
      categories = getCategories();
    }
  }

  function closeModal() {
    modalIsVisible = false;
  }

  function openModal() {
    modalIsVisible = true;
  }

  function onNewClick() {
    category = {
      name: "",
      description: ""
    };
    openModal();
  }

  async function save() {
    try {
      buttonSaveIsLoading = true;
      let result = await http({
        method: category.id ? "put" : "post",
        url: `/usuario?`,
        data: category
      });
      console.log(url);
      categories = getCategories();
      closeModal();
      //console.log(result);
      //  url: category.usuario ? `/usuario/${category.usuario}` : "usuario",
    } catch (error) {
      console.log(error);
    } finally {
      buttonSaveIsLoading = false;
    }
  }

</script>

<svelte:head>
  <title>Categories</title>
</svelte:head>

<Card title="Lista de Administradores">
  <div>

    {#await categories}
      <progress class="progress is-small is-primary" max="100">15%</progress>
    {:then list}
      <Button color="primary" on:click={onNewClick}>
        Nuevo
        <i class="fas fa-new" />
      </Button>
      <table class="table is-striped is-hoverable">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Email</th>
            <th>Rol</th>
            <th width="100px">Acciones</th>
          </tr>
        </thead>
        <tbody>
          {#each list as item}
            <tr>
              <td>{item.nombre}</td>
              <td>{item.email}</td>
              <td>Administrador</td>
              <td>
                <a href="javascript:;" on:click={() => onItemClick(item)}>
                  <span class="icon is-small">
                    <i class="fas fa-edit" />
                  </span>
                </a>

                <a href="javascript:;" on:click={() => onDeleteClick(item)}>
                  <span class="icon is-small">
                    <i class="fas fa-trash" />
                  </span>
                </a>
              </td>
            </tr>
          {/each}
        </tbody>
      </table>
    {:catch error}
      <p style="color: red">{error.message}</p>
    {/await}

  </div>
  <!-- <a
    href="javascript:;"
    slot="footer"
    class="card-footer-item"
    on:click={onNewClick}>
    Nuevo
  </a> -->
</Card>

<div class={modalClass}>
  <div class="modal-background" />
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">{category.nombre}</p>
      <button class="delete" aria-label="close" on:click={closeModal} />
    </header>
    <section class="modal-card-body">
      <!-- Comienza control -->
      <div class="field">
        <label class="label">Nombre</label>
        <div class="control">
          <input
            class="input"
            type="text"
            placeholder=""
            bind:value={category.nombre} />
        </div>
      </div>
      <!-- Terminal control -->
      <!-- Comienza control -->
      <div class="field">
        <label class="label">Usuario</label>
        <div class="control">
          <input
            class="input"
            type="text"
            placeholder=""
            bind:value={category.usuario} />
        </div>
      </div>
      <!-- Terminal control -->
      <!-- Comienza control -->
      <div class="field">
        <label class="label">Email</label>
        <div class="control">
          <input
            class="input"
            type="text"
            placeholder=""
            bind:value={category.email} />
        </div>
      </div>
      <!-- Terminal control -->
      <!-- Comienza control -->
      <div class="field">
        <label class="label">Password</label>
        <div class="control">
          <input
            class="input"
            type="text"
            placeholder=""
            bind:value={category.password} />
        </div>
      </div>
      <!-- Terminal control -->
      <!-- Comienza control -->
      <div class="field">
        <label class="label">Confirmar Password</label>
        <div class="control">
          <input
            class="input"
            type="text"
            placeholder=""
            bind:value={category.password_confirmation} />
        </div>
      </div>
      <!-- Terminal control -->
      <!-- Comienza control -->
      <div class="form-group">
        <label for="category">Rol</label>
        <select id="category" class="form-control" bind:value={category.rol}>
          <option selected disabled>Seleccione un Rol</option>
          <option value="1">Administrador</option>
          <option value="2">Docente</option>
        </select>
      </div>
      <!-- Terminal control -->
    </section>
    <footer class="modal-card-foot">
      <button class={buttonSaveClass} on:click={save}>Guardar</button>
      <button class="button" on:click={closeModal}>Cancelar</button>
    </footer>
  </div>
</div>