<script>
  import Card from "../components/Card.svelte";
  import { onMount } from "svelte";
  import http from "../http";
  import Button from "sveltestrap/src/Button.svelte";

  let categories = [];
  let category = {};
  let yes = false;
  let name = "Nombre Alumno";
  let url = "http://127.0.0.1:8000/api/documento";
  var URLactual = "http://localhost:3000/alumno";

  function Redirect() {
    window.location = URLactual;
  }

  let buttonSaveIsLoading = false;
  $: buttonSaveClass =
    buttonSaveIsLoading === true
      ? "button is-success is-loading"
      : "button is-success";

  let modalIsVisible = false;
  $: modalClass = modalIsVisible === true ? "modal is-active" : "modal";

  let modalIsVisibleAdjunto = false;
  $: modalClassAdjunto =
    modalIsVisibleAdjunto === true ? "modal is-active" : "modal";

  onMount(async () => {
    categories = getCategories();
  });

  async function getCategories() {
    // a simple use of "fetch"
    const result = await fetch("http://127.0.0.1:8000/api/alumno");
    if (result.ok) return result.json();

    throw new Error(
      `🚨 Catastrofic failure 🚨 ${result.status} ${result.statusText}`
    );
  }

  function onItemClick(item) {
    category = item;
    name = item.nombre + ' ' + item.apellido_paterno;
    openModal();
  }

  function onAdjuntoClick(item) {
    category = item;
    openModalAdjuntos();
  }

  async function onDeleteClick(item) {
    category = item;
    if (confirm(`Delete "${category.nombre}"?`)) {
      await http.delete(`/alumno/${category.id}`);
      categories = getCategories();
    }
  }

  function closeModal() {
    modalIsVisible = false;
  }

  function openModal() {
    modalIsVisible = true;
  }

  function closeModalAdjuntos() {
    modalIsVisibleAdjunto = false;
  }

  function openModalAdjuntos() {
    modalIsVisibleAdjunto = true;
  }

  function onNewClick() {
    category = {
      name: "",
      description: ""
    };
    openModal();
  }

  async function save() {
    try {
      buttonSaveIsLoading = true;
      let result = await http({
        method: category.id ? "put" : "post",
        url: category.id ? `/alumno/${category.id}?` : "/alumno?",
        data: category
      });
      console.log(url);
      categories = getCategories();
      closeModal();
      // url: category.id ? `/usuario/${category.id}` : "usuario",
    } catch (error) {
      console.log(error);
      categories = getCategories();
      closeModal();
    } finally {
      buttonSaveIsLoading = false;
    }
  }

  // Codigo para guardar Adjuntos
  let files;
  let dataFile = null;

  async function upload() {
    var formdata = new FormData();
    formdata.append("file", files[0]);
    formdata.append("alumnoid", category.id);
    formdata.append("tipodocumento", category.tipodocumento);

    var requestOptions = {
      method: 'POST',
      body: formdata,
      timeout: 180000,
      redirect: 'manual'
    };

    fetch("http://127.0.0.1:8000/api/documento", requestOptions)
      .then(response => response.text())
      .then(result => console.log(result))
      .catch(error => console.log('error', error));

    if (response.text == "true") {
      alert("Datos Guardados con exito");
      closeModalAdjuntos();
    }

  }


  async function saveDocumentos() {
    try {
      buttonSaveIsLoading = true;
      let result = await http({
        method: _files.id ? "put" : "post",
        //url: `/alumno?`,
        url: _files.id
          ? `/api/documento/${_files.id}?`
          : "/documento?",
        data: _files
      });
      console.log(url);
      categories = getCategories();
      closeModalAdjuntos();

    } catch (error) {
      console.log(error);
      // categories = getCategories();
      closeModalAdjuntos();
    } finally {
      buttonSaveIsLoading = false;
      closeModalAdjuntos();
    }
  }

  $: if (files) {
    // Note that `files` is of type `FileList`, not an Array:
    // https://developer.mozilla.org/en-US/docs/Web/API/FileList
    console.log(files);

    for (const file of files) {
      console.log(`${file.name}: ${file.size} bytes`);
    }
  }

</script>

<style>

</style>

<svelte:head>
  <title>Categories</title>
</svelte:head>

<Card title="Lista de Alumnos">
  <div>
    {#await categories}
      <progress class="progress is-small is-primary" max="100">15%</progress>
    {:then list}
      <!-- init Bootom -->
      <!-- <a
        href="javascript:;"
        slot="footer"
        class="card-footer-item"
        on:click={onNewClick}>
        Nuevo
      </a> -->
      <Button color="primary" on:click={onNewClick}>
        Nuevo
        <i class="fas fa-new" />
      </Button>
      <!-- Fin Bottom -->
      <table class="table is-striped is-hoverable">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Apellido Paterno</th>
            <th>Apellido Materno</th>
            <th>Sexo</th>
            <th>Dirección</th>
            <th>Teléfono</th>
            <th>Email</th>
            <th width="100px">Acciones</th>
          </tr>
        </thead>
        <tbody>
          {#each list as item}
            <tr>
              <td>{item.nombre}</td>
              <td>{item.apellido_paterno}</td>
              <td>{item.apellido_materno}</td>
              <td>{item.sexo}</td>
              <td>{item.direccion}</td>
              <td>{item.telefono1}</td>
              <td>{item.email}</td>
              <td>
                <a href="javascript:;" on:click={() => onItemClick(item)}>
                  <span class="icon is-small">
                    <i class="fas fa-edit" />
                  </span>
                </a>

                <a href="javascript:;" on:click={() => onDeleteClick(item)}>
                  <span class="icon is-small">
                    <i class="fas fa-trash" />
                  </span>
                </a>
                <a href="javascript:;" on:click={() => onAdjuntoClick(item)}>
                  <span class="icon is-small">
                    <i class="fas fa-address-book" />
                  </span>
                </a>
              </td>
            </tr>
          {/each}
        </tbody>
      </table>
    {:catch error}
      <p style="color: red">{error.message}</p>
    {/await}
  </div>
</Card>

<div class={modalClass}>
  <div class="modal-background" />
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title" placeholder="Nombre Alumno" >{name}</p>
      <button class="delete" aria-label="close" on:click={closeModal} />
    </header>
    <section class="modal-card-body">
<div class="field is-horizontal">
<div class="field-body">
  <div class="field">
    <p class="control is-expanded has-icons-left">
      <label class="label">Nombre *</label>  
      <input class="input is-danger" type="text" placeholder="Nombre"  bind:value={category.nombre}>
      <span class="icon is-small is-left">
       </span>
    </p>
  </div>
  <div class="field">
    <p class="control is-expanded has-icons-left">
      <label class="label">Apellido Paterno</label>
      <input class="input is-danger" type="text" placeholder="Apellido Paterno" bind:value={category.apellido_paterno}>
      <span class="icon is-small is-left">

      </span>
    </p>
  </div>
<div class="field">
  <p class="control is-expanded has-icons-left">
    <label class="label">Apellido Materno</label>
    <input class="input is-danger" type="text" placeholder="Apellido Materno" bind:value={category.apellido_materno}>
    <span class="icon is-small is-left">
     
    </span>
  </p>
</div>
</div>
</div>
 
<div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Sexo</label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <select id="category" class="form-control" bind:value={category.sexo}>
                <option selected disabled>Seleccione un Sexo</option>
                <option value="F">Femenino</option>
                <option value="M">Masculino</option>
              </select>
            </div>
          </div>
        </div>
      </div>
        <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Dirección</label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <input class="input" type="text" placeholder="Dirección domicilio" bind:value={category.direccion}>
            </div>
           </div>
        </div>
      </div>
      <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">Teléfono</label>
          </div>
        <div class="field-body">
          <div class="field is-expanded">
            <div class="field has-addons">
              <!-- <p class="control">
                <a class="button is-static">
                  +52
                </a>
              </p> -->
              <p class="control is-expanded">
                <input class="input" type="tel" placeholder="Teléfono" bind:value={category.telefono1}>
              </p>
            </div>
            <!-- <p class="help">No ingrese el primer cero</p> -->
          </div>
        </div>
      </div>
        <div class="field is-horizontal">
                <div class="field-label is-normal">
                  <label class="label">Email</label>
                </div>
                <div class="field-body">
                  <div class="field">
                    <div class="control">
    <input class="input is-success" type="email" placeholder="Email" value="" bind:value={category.email}>
    <span class="icon is-small is-left">
                  </div>
                  </div>
                </div>
              </div>
     <!-- Inicio Campos Tutor -->
<div class="field is-horizontal">
  <div class="field-label is-normal">
    <label class="label">Tutor *</label>
  </div>
  <div class="field-body">
    <div class="field">
      <div class="control">
        <input class="input is-danger" type="text" placeholder="Nombre del tutor"
          bind:value={category.tutor}>
      </div>
    </div>
  </div>
</div>
<div class="field is-horizontal">
  <div class="field-label is-normal">
    <label class="label">Teléfono</label>
  </div>
 
  <div class="field-body">
    <div class="field is-expanded">
      <div class="field has-addons">
        <!-- <p class="control">
          <a class="button is-static">
            +52
          </a>
        </p> -->
        <p class="control is-expanded">
          <input class="input" type="tel" placeholder="Teléfono Tutor" bind:value={category.telefono_tutor}>
        </p>
      </div>
      <!-- <p class="help">No ingrese el primer cero</p> -->
    </div>
  </div>
</div>
<div class="field is-horizontal">
  <div class="field-label is-normal">
    <label class="label">Email</label>
  </div>
  <div class="field-body">
    <div class="field">
      <div class="control">
        <input class="input is-success" type="email" placeholder="Email" value=""
          bind:value={category.email_tutor}>
        <span class="icon is-small is-left">
      </div>
    </div>
  </div>
</div>
<div class="field">
  <p class="control is-expanded has-icons-left">
    <label class="label">Observaciones</label>
            <textarea class="textarea" placeholder="Observaciones" bind:value={category.observaciones}></textarea>
    <span class="icon is-small is-left">
       </span>
  </p>
</div>
          <div>
            <p class="help is-danger">
              Todos los campos marcados con * son requeridos  
            </p>
          </div>
      </section>
    <footer class="modal-card-foot">
      <button class={buttonSaveClass} on:click={save}>Guardar</button>
      <button class="button" on:click={closeModal}>Cancelar</button>
    </footer>
  </div>
</div>

<!-- Inicio del Fomulario -->
<div class={modalClassAdjunto}> 
  <div class="modal-background" />
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">{category.nombre} {' '} {category.apellido_paterno}</p>
      <button class="delete" aria-label="close" on:click={closeModalAdjuntos} />
    </header>
    <section class="modal-card-body">
      <!-- <form> -->
        <!-- <form action={url} method="post" enctype="multipart/form-data"> -->
        <!-- <form action={url} method="POST" enctype="multipart/form-data"> -->
        <form  method="POST" enctype="multipart/form-data">
        <label for="category">Seleccione un tipo de archivo:</label>
        <select id="category" class="form-control" name="tipodocumento" bind:value={category.tipodocumento}>
          <option selected disabled>Seleccione un tipo de archivo:</option>
          <option value="Acta de Nacimiento">Acta de Nacimiento</option>
          <option value="CURP">CURP</option>
          <option value="IFE del tutor">IFE del tutor</option>
          <option value="Comprobante de domicilio">
            Comprobante de domicilio
          </option>
          <option value="Formato de inscripción">Formato de inscripción</option>
        </select>
        <br />
        <div class="form-group">
         <!-- <input bind:files id="file" name="file"  aria-describedby="fileHelp" class="form-control-file" type="file" /> -->
          <input bind:files id="file" name="file" aria-describedby="fileHelp" class="form-control-file" type="file"/>
          <input type="hidden" name="alumnoid" value={category.id} />
          <input type="hidden" name="tipodocumento" value={category.tipodocumento} />
                 {#if files}
                              	<h2>Selected files:</h2>
                              	{#each Array.from(files) as file}
                                  <p>{file.name} ({file.size} bytes) </p>
                                  {#if file.size >  (2000000)}
                                       		 <small id="fileHelp" class="form-text text-muted" style="color: red" >
                                                                          Cargue un archivo de formato válido. El tamaño del archivo no
                                                                           debería ser más de 2MB (2,000,000 bytes).
                                                                          </small>
                                  <!-- {:else} -->                           
                                  {/if}
                                {/each}
                {/if}     
        </div>
         <button class={buttonSaveClass} on:click={upload}>
          Guardar
        </button>
       </form>
      <!-- <button class={buttonSaveClass} on:click={saveDocumentos}>
        Guardar saveDocumentos 5
      </button> -->
    </section>
    <footer class="modal-card-foot">
    </footer>
  </div>
</div> 