<script>
  import Search from './Search1.svelte';
  import SearchResults from './SearchResults.svelte';

  // const UNSPLASH_ACCESS_KEY =
  //   'KXrGjwgmlCzKa92PaQTPfGwR5HmVEnLFGeoJ1DgyYA';

  let searchQuery = '';
  let searchTerm = null;
  let totalPages = null;
  let searchResults = [];
  let nextPage = 1;
  let isLoading = false;

  function handleSubmit() {
    searchTerm = searchQuery.trim();
    searchResults = [];
    totalPages = null;
    nextPage = 1;

    if (!searchTerm) return;

    searchUnsplash();
  }

  function searchUnsplash() {
    isLoading = true;

    const endpoint = `http://127.0.0.1:8000/api/documento?texto=${searchTerm}`;

    // `https://api.unsplash.com/search/photos?query=${searchTerm}&page=${nextPage}&per_page=28&client_id=${UNSPLASH_ACCESS_KEY}`;

    fetch(endpoint)
      .then(response => {
        if (!response.ok) {
          throw Error(response.statusText);
        }
        console.log(endpoint);
        return response.json();
      })
      .then(data => {
        if (data.total === 0) {
          alert("No photos were found for your search query.")
          return;
        }

        searchResults = [...searchResults, ...data.results];
        // totalPages = data.total_pages;

        // if (nextPage < totalPages) {
        //   nextPage += 1;
        // }
      })
      .catch(() => alert("An error occured!"))
      .finally(() => {
        isLoading = false;
      });
  }
</script>

<style>
  .App {
    width: 100%;
    max-width: 1500px;
    padding: 20px;
    margin: 0 auto 50px;
    text-align: center;
  }

  h1 {
    font-size: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
</style>

<main class="App">
  <h1>Aplicación de búsqueda de documentos</h1>
  <Search bind:texto={searchQuery} handleSubmit={handleSubmit} />
</main>