<script>
  import Card from "../components/Card.svelte";
  import { onMount } from "svelte";
  import http from "../http";
  import Button from "sveltestrap/src/Button.svelte";

  // prueba buscador
  import Search from './Search1.svelte';
  import SearchResults from './SearchResults.svelte';

  let searchQuery = '';
  let searchTerm = null;
  let totalPages = null;
  let searchResults = [];
  let nextPage = 1;
  let isLoading = false;

  // fin prueba

  let categories = [];
  let people = [];
  let listadoAlumnos = [];
  let category = {};
  let categoryAlumnos = {};
  let name = "";
  let url = "http://127.0.0.1:8000/";

  let buttonSaveIsLoading = false;
  $: buttonSaveClass =
    buttonSaveIsLoading === true
      ? "button is-success is-loading"
      : "button is-success";

  let modalIsVisible = false;
  $: modalClass = modalIsVisible === true ? "modal is-active" : "modal";


  // http://quizbucket.org/which-of-following-are-valid-types-of-app-components-2926

  /*Download Documentos*/
  const API = "http://127.0.0.1:8000/api/documento";
  // const APIFiltro = `http://127.0.0.1:8000/api/documento?texto=${searchTerm}`;
  let data = [];
  let characters = [];

  onMount(async () => {
    const res = await fetch(API);
    data = await res.json();
    //   console.log(data);
    characters = data.results;
  });

  function downloadHandler() {
    let tableKeys = Object.keys(data[0]); //extract key names from first Object
  }
  /*Fin*/

  onMount(async () => {
    categories = getCategories();
  });

  async function getCategories() {
    const result = await fetch(API);
    if (result.ok) return result.json();

    throw new Error(
      `🚨 Catastrofic failure 🚨 ${result.status} ${result.statusText}`
    );
  }

  onMount(async () => {
    listadoAlumnos = getAlumnos();
  });

  function onItemClick(item) {
    category = item;
    openModal();
  }

  async function onDeleteClick(item) {
    category = item;
    if (confirm(`Delete "${category.titulo}"?`)) {
      await http.delete(`/documento/${category.id}`);
      categories = getCategories();
    }
  }

  async function onDownloadClick(item) {
    category = item;
    // if (confirm(`Delete "${category.nombre}"?`)) {
    await http.fetch(url`/${category.id}`);
    categories = getCategories();
    // }
  }

  // Codigo para Descargar Adjuntos
  let files;
  let _files = {};
  let dataFile = null;
  async function onDownloadDocumentos(item) {
    try {
      category = item;
      buttonSaveIsLoading = true;
      let result = await http({
        url: category.id ? `/documentos/download/${category.id}` : "documento",
        // method: _files.id ? "get" : "get",
        // url: _files.id
        //   ? `/api//file/download/${category.id}?`
        //   : "/api/file/download/?",
        // data: _files
      });
      console.log(url);
      console.log(_files.id);
      categories = getCategories();
      //   closeModal();
      // url: category.id ? `/usuario/${category.id}` : "usuario",
    } catch (error) {
      console.log(error);
      // categories = getCategories();
      //closeModal();
    } finally {
      buttonSaveIsLoading = false;
    }
  }

  function closeModal() {
    modalIsVisible = false;
  }

  function openModal() {
    modalIsVisible = true;
  }

  function onNewClick() {
    category = {
      name: "",
      description: ""
    };
    openModal();
  }


  function handleSubmit() {
    searchTerm = searchQuery.trim();
    searchResults = [];
    totalPages = null;
    nextPage = 1;

    if (!searchTerm) return;

    searchUnsplash();
  }

  function searchUnsplash() {
    isLoading = true;
    categories = getCategoriesFiltro();
    isLoading = false;

    /*     const endpoint = `http://127.0.0.1:8000/api/documento?texto=${searchTerm}`;
    
        // `https://api.unsplash.com/search/photos?query=${searchTerm}&page=${nextPage}&per_page=28&client_id=${UNSPLASH_ACCESS_KEY}`;
*/

  }

  async function getCategoriesFiltro() {
    const APIFiltro = `http://127.0.0.1:8000/api/documento?texto=${searchTerm}`;
    // alert(APIFiltro);
    const result = await fetch(APIFiltro);
    if (result.ok) return result.json();
    throw new Error(
      `🚨 Catastrofic failure 🚨 ${result.status} ${result.statusText}`
    );
  }


</script>

<style>
  .App {
    width: 100%;
    max-width: 1500px;
    padding: 10px;
    margin: 0 auto 50px;
    text-align: center;
  }

  h1 {
    font-size: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  h2 {
    font-size: 20px;
    margin-bottom: 5px;
  }
</style>

<svelte:head>
  <title>Categories</title>
</svelte:head>
<main class="App">
  <h1>Aplicación de búsqueda de documentos</h1>
  <Search bind:texto={searchQuery} handleSubmit={handleSubmit} />
  <h2>
    <div>
      <p class="help is-danger">
        Para tener mayor cantidad de coincidencias al momento de la busqueda puede ocupar signo de %, Ej: Nombre %
        Apellido
      </p>
    </div>
  </h2>
</main>
<Card title="Lista de Documentos">
  <div>
    {#await categories}
      <progress class="progress is-small is-primary" max="100">15%</progress>   
    {:then list}
     <!-- <Button color="primary" on:click={onNewClick}>
        Nuevo
        <i class="fas fa-new" />
      </Button> -->
      <table class="table is-striped is-hoverable">
        <thead>
          <tr>
            <th>Título</th>
            <th>Fecha</th>
            <th>Tipo Documento</th>
            <th width="100px">Acciones</th>
          </tr>
        </thead>
        <tbody>
          {#each list as item}
            <tr>
              <td>{item.titulo}</td>
              <td>{item.fecha}</td>
              <td>{item.tipo_documento}</td>
             <td>
                <a href="javascript:;" on:click={() => onDeleteClick(item)}>
                  <span class="icon is-small">
                    <i class="fas fa-trash" />
                  </span>
                </a>    
                  <a href={API}/download/{item.id} >
                      <span class="icon is-small">
                        <i class="fas fa-download" />
                      </span>
                    </a>
              </td>              
            </tr>
          {/each}
        </tbody>
      </table>
    {:catch error}
      <p style="color: red">{error.message}</p>
    {/await}
  </div>
</Card>