<script>
  // import Carousel from "@beyonk/svelte-carousel";
  // import { ChevronLeftIcon, ChevronRightIcon } from "svelte-feather-icons";
  // import Carousel from "sveltestrap/src/Carousel.svelte";
  // import { ChevronLeftIcon, ChevronRightIcon } from "svelte-feather-icons";

  // import Breadcrumb from "sveltestrap/src/Breadcrumb.svelte";
  // import BreadcrumbItem from "sveltestrap/src/BreadcrumbItem.svelte";
  // import Card from "sveltestrap/src/Card.svelte";
  // import CardBody from "sveltestrap/src/CardBody.svelte";
  // import CardHeader from "sveltestrap/src/CardHeader.svelte";
  // import CardText from "sveltestrap/src/CardText.svelte";
  // import CardSubtitle from "sveltestrap/src/CardSubtitle.svelte";
  // import Row from "sveltestrap/src/Row.svelte";

  // import DashboardCard from "../components/DashboardCard.svelte";
  // import CustomCard from "../components/CustomCard.svelte";
  // import Table from "../components/Table.svelte";
  // import AreaChart from "../components/Charts/AreaChart.svelte";
  // import BarChart from "../components/Charts/BarChart.svelte";
  // import Docente from "../components/Table.svelte";

  // Script para Login
  // import Signup from "../components/Signup.svelte";
  //import Login from "../components/Login.svelte";
  // import Logout from "../components/Logout.svelte";
  //import { stores } from "@sapper/app";
  //const { session } = stores();

  //export let user;

  // Fin
  let title = "Sistema de Control de Búsqueda de Expedientes";



</script>

<!-- <script context="module">
  let title = "Sistema de Control de Búsqueda de Expedientes";
  export async function preload(page, session) {
    return this.redirect(301, 'spreadsheet/1')
  }
</script> -->


<style>
  /* .control :global(svg) {
    width: 100%;
    height: 100%;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 32px;
  } */

  /* 
  .slide-content section {
    height: 40px;
    padding: 12px;
  } */

  /* .characters {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 8px;
  }
  figure,
  img {
    width: 100%;
    margin: 0;
  } */
</style>

<!-- <script context="module">
  export function preload(page, { user }) {
    return { user };
  }
</script> -->
<!-- {#if !user}
  <Signup />
  <Login />
{:else}
  <Logout />
{/if} -->

<svelte:head>
  <title>{title}</title>
</svelte:head>
<!-- <h1 class="mt-4">Dashboard</h1> -->
<!-- <Breadcrumb class="mb-4">
  <BreadcrumbItem active>Dashboard</BreadcrumbItem>
</Breadcrumb> -->
<!-- <Row> -->
<figure>
  <img alt="Banner" src="background.jpg" />
  <!-- <figcaption>Sistema Control de Busqueda de Expedientes!</figcaption> -->
</figure>
<div class="characters">
  <!-- {#each characters as character} -->
  <figure>
    <img src="Fondo1.jpeg" alt="Portada" />
    <!-- <figcaption>{character.name}</figcaption> -->
  </figure>
  <!-- {:else} -->
  <!-- <p>loading...</p> -->
  <!-- {/each} -->
</div>
<!-- <div class="col-xl-3 col-md-6">
    <DashboardCard cardTitle="Primary Card" cardColor="primary" />
  </div>
  <div class="col-xl-3 col-md-6">
    <DashboardCard cardTitle="Warning Card" cardColor="warning" />
  </div>
  <div class="col-xl-3 col-md-6">
    <DashboardCard cardTitle="Success Card" cardColor="success" />
  </div>
  <div class="col-xl-3 col-md-6">
    <DashboardCard cardTitle="Danger Card" cardColor="danger" /> -->
<!-- </div> -->
<!-- </Row>
<Row>
  <div class="col-xl-6">
    <CustomCard cardTitle="Area Chart Example" cardIcon="fas fa-chart-area">
      <AreaChart />
    </CustomCard>
  </div>
  <div class="col-xl-6">
    <CustomCard cardTitle="Bar Chart Example" cardIcon="fas fa-chart-bar">
      <BarChart />
    </CustomCard>
  </div>
</Row>
<CustomCard cardTitle="DataTable Example" cardIcon="fas fa-table">
  <Table />
</CustomCard> -->