<script>
  import Card from "../components/Card.svelte";
  import CardBody from "sveltestrap/src/CardBody.svelte";
  import CardHeader from "sveltestrap/src/CardHeader.svelte";
  import CardFooter from "sveltestrap/src/CardFooter.svelte";
  import Form from "sveltestrap/src/Form.svelte";
  import FormGroup from "sveltestrap/src/FormGroup.svelte";
  import Label from "sveltestrap/src/Label.svelte";
  import Input from "sveltestrap/src/Input.svelte";
  import Button from "sveltestrap/src/Button.svelte";
  import Row from "sveltestrap/src/Row.svelte";
  import Col from "sveltestrap/src/Col.svelte";

  import { onMount } from "svelte";
  import http from "../http";

  let categories = [];
  let category = {};

  let buttonSaveIsLoading = false;
  $: buttonSaveClass =
    buttonSaveIsLoading === true
      ? "button is-success is-loading"
      : "button is-success";

  let modalIsVisible = false;
  $: modalClass = modalIsVisible === true ? "modal is-active" : "modal";

  onMount(async () => {
    categories = getCategories();
  });

  // async function getCategories() {
  //   // a simple use of "fetch"
  //   const result = await fetch("https://northwind.now.sh/api/categories");

  async function getCategories() {
    // a simple use of "fetch"
    const result = await fetch("http://127.0.0.1:8000/api/usuario");

    if (result.ok) return result.json();

    throw new Error(
      `🚨 Catastrofic failure 🚨 ${result.status} ${result.statusText}`
    );
  }

  function onItemClick(item) {
    category = item;
    openModal();
  }

  async function onDeleteClick(item) {
    category = item;
    if (confirm(`Delete "${category.nombre}"?`)) {
      await http.delete(`/usuario/${category.id}`);
      categories = getCategories();
    }
  }

  function closeModal() {
    modalIsVisible = false;
  }

  function openModal() {
    modalIsVisible = true;
  }

  function onNewClick() {
    category = {
      name: "",
      description: ""
    };
    openModal();
  }

  async function save() {
    try {
      buttonSaveIsLoading = true;
      let result = await http({
        method: category.id ? "put" : "post",
        url: category.id ? `/registro/${category.id}` : "/usuario",
        data: category
      });
      categories = getCategories();
      closeModal();
    } catch (error) {
      console.log(error);
    } finally {
      buttonSaveIsLoading = false;
    }
  }
</script>

<svelte:head>
  <title>Cuenta</title>
</svelte:head>

<Col class="col-lg-7">
  <Card class="shadow-lg border-0 rounded-lg mt-5">
    <CardHeader>
      <h3 class="text-center font-weight-light my-4">Crear Cuenta</h3>
    </CardHeader>
    <CardBody>
      <Form>
        <Row form>
          <div class="col-md-6">
            <FormGroup>
              <Label for="inputFirstName" class="small mb-1">
                Primer Nombre
              </Label>
              <Input
                class="py-4"
                type="text"
                name="firstName"
                id="inputFirstName"
                placeholder="Escribe tu primer nombre" />
            </FormGroup>
          </div>
          <div class="col-md-6">
            <FormGroup>
              <Label for="inputLastName" class="small mb-1">
                Segundo Nombre
              </Label>
              <Input
                class="py-4"
                type="text"
                name="lastName"
                id="inputLastName"
                placeholder="Escribir tu segundo nombre" />
            </FormGroup>
          </div>
        </Row>
        <FormGroup>
          <Label for="exampleEmail" class="small mb-1">Email</Label>
          <Input
            class="py-4"
            type="email"
            name="email"
            id="exampleEmail"
            placeholder="Escribir email" />
        </FormGroup>
        <Row form>
          <div class="col-md-6">
            <FormGroup>
              <Label for="inputPassword" class="small mb-1">Password</Label>
              <Input
                class="py-4"
                type="password"
                name="inputPassword"
                id="inputPassword"
                placeholder="Escribir password" />
            </FormGroup>
          </div>
          <div class="col-md-6">
            <FormGroup>
              <Label for="inputConfirmPassword" class="small mb-1">
                Confirmar Password
              </Label>
              <Input
                class="py-4"
                type="password"
                name="inputConfirmPassword"
                id="inputConfirmPassword"
                placeholder="Confirm password" />
            </FormGroup>
          </div>
        </Row>
        <FormGroup class="mt-4 mb-0">
          <Button color="primary" block href="pages/authentication/login">
            Crear Cuenta
          </Button>
        </FormGroup>
      </Form>
    </CardBody>
    <CardFooter class="text-center small">
      <a href="pages/authentication/login">
        ¿Tiene una cuenta? Ir a iniciar sesión
      </a>
    </CardFooter>
  </Card>
</Col>
