<script>
  import Card from "sveltestrap/src/Card.svelte";
  import CardBody from "sveltestrap/src/CardBody.svelte";
  import CardHeader from "sveltestrap/src/CardHeader.svelte";
  import CardFooter from "sveltestrap/src/CardFooter.svelte";
  import Form from "sveltestrap/src/Form.svelte";
  import FormGroup from "sveltestrap/src/FormGroup.svelte";
  import Label from "sveltestrap/src/Label.svelte";
  import Input from "sveltestrap/src/Input.svelte";
  import CustomInput from "sveltestrap/src/CustomInput.svelte";
  import Button from "sveltestrap/src/Button.svelte";

  import { onMount } from "svelte";
  //import http from "sveltestrap/src/routers/auth/http";

  let categories = [];
  let category = {};

  let buttonLoginLoading = false;
  $: buttonLoginClass =
    buttonLoginLoading === true
      ? "button is-success is-loading"
      : "button is-success";

  let modalIsVisible = false;
  $: modalClass = modalIsVisible === true ? "modal is-active" : "modal";

  onMount(async () => {
    categories = getCategories();
  });

  async function getCategories() {
    // a simple use of "fetch"
    const result = await fetch("http://127.0.0.1:8000/api/usuario");

    if (result.ok) return result.json();

    throw new Error(
      `🚨 Catastrofic failure 🚨 ${result.status} ${result.statusText}`
    );
  }

  async function login() {
    try {
      buttonLoginsLoading = true;
      let result = await http({
        method: category.id ? "get" : "get",
        //url: `/alumno?`,
        url: category.id ? `/login?${category.id}?` : "/login?",
        //url: category.id ? `/alumno/alumno?` : "/alumno?",
        data: category
      });
      console.log(url);
      categories = getCategories();
      closeModal();
      // url: category.id ? `/usuario/${category.id}` : "usuario",
    } catch (error) {
      console.log(error);
      categories = getCategories();
      closeModal();
    } finally {
      buttonLoginsLoading = false;
    }
  }
</script>

<div class="col-lg-5">
  <Card class="shadow-lg border-0 rounded-lg mt-5">
    <CardHeader>
      <h3 class="text-center font-weight-light my-4">Iniciar sesión</h3>
    </CardHeader>
    <CardBody>
      <Form>
        <FormGroup>
          <Label for="exampleEmail" class="small mb-1">Email</Label>
          <Input
            class="py-4"
            type="email"
            name="email"
            id="exampleEmail"
            placeholder="Enter email address" />
        </FormGroup>
        <FormGroup>
          <Label for="examplePassword" class="small mb-1">Password</Label>
          <Input
            class="py-4"
            type="password"
            name="password"
            id="examplePassword"
            placeholder="Enter password" />
        </FormGroup>
        <FormGroup>
          <CustomInput
            type="checkbox"
            id="exampleCustomCheckbox"
            label="Remember password" />
        </FormGroup>
        <FormGroup
          class="d-flex align-items-center justify-content-between mt-4 mb-0">
          <!-- <a class="small" href="pages/authentication/forget_password">
            ¿Se te olvidó tu contraseña?
          </a> -->
          <Button
            color="primary"
            href="."
            class={buttonLoginClass}
            on:click={login}>
            Iniciar sesión
          </Button>
        </FormGroup>
      </Form>
    </CardBody>
    <CardFooter class="text-center small">
      <a href="pages/authentication/register">
        ¿Necesito una cuenta? ¡Regístrate!
      </a>
    </CardFooter>
  </Card>
</div>
