<script>
  import Container from "sveltestrap/src/Container.svelte";
</script>

<footer class="py-4 bg-light mt-auto">
  <Container fluid={true}>
    <div class="d-flex align-items-center justify-content-between small">
      <div class="text-muted">
        Creado con
        <a href="https://geekyants.com/srishti-sharma">SvelteStrap</a>
        &
        <a href="https://geekyants.com/sankhadeep">
          Sistema de Control de Búsqueda de Expedientes
        </a>
        <!-- at -->
        <!-- <a href="https://geekyants.com/">GP</a> -->
      </div>
      <!-- <div>
        <a href="#">Privacy Policy</a>
        &middot;
        <a href="#">Terms &amp; Conditions</a>
      </div> -->
    </div>
  </Container>
</footer>
