<script>
  import Collapse from "sveltestrap/src/Collapse.svelte";
  import Nav from "sveltestrap/src/Nav.svelte";

  import SidebarItem from "./SidebarItem.svelte";

  export let segment;
  export let theme;

  $: sidenav_theme = `sb-sidenav-${theme}`;

  let isLayoutOpen = false;
  let isPageOpen = false;
  let isAuthenticationOpen = false;
  let isAlumnoOpen = false;
  let isUsuarioOpen = false;
  let isDocenteOpen = false;
  let isProyectoOpen = false;
  let isErrorOpen = false;
  let activeLink = "Inicio";
  // let footerName = "Sistema de Control de Busqueda de Expedientes";
  let footerName = "Administrador";
  let footerText = "Conectado como:";

  const updateActiveLink = linkName => (activeLink = linkName);

  const toggleLayout = () => {
    isLayoutOpen = !isLayoutOpen;
    if (isPageOpen === true) isPageOpen = false;
  };

  const togglePages = () => {
    isPageOpen = !isPageOpen;
    if (isLayoutOpen === true) isLayoutOpen = false;
    if (isPageOpen === false) {
      isAuthenticationOpen = false;
      isAlumnoOpen = false;
      isErrorOpen = false;
    }
  };

  const toggleAuthentication = () => {
    isAuthenticationOpen = !isAuthenticationOpen;
    if (isErrorOpen === true) isErrorOpen = false;
    if (isAlumnoOpen === true) isAlumnoOpen = false;
  };

  const toggleAlumno = () => {
    isAlumnoOpen = !isAlumnoOpen;
    if (isErrorOpen === true) isErrorOpen = false;
    if (isAuthenticationOpen === true) isAuthenticationOpen = false;
  };

  const toggleUsuarios = () => {
    isUsuarioOpen = !isUsuarioOpen;
    if (isErrorOpen === true) isErrorOpen = false;
    if (isAuthenticationOpen === true) isAuthenticationOpen = false;
    if (isAlumnoOpen === true) isAlumnoOpen = false;
  };

  const toggleError = () => {
    isErrorOpen = !isErrorOpen;
    if (isAuthenticationOpen === true) isAuthenticationOpen = false;
    if (isAlumnoOpen === true) isAlumnoOpen = false;
  };
</script>

<div id="layoutSidenav_nav" class="sb-nav-fixed">
  <Nav class="sb-sidenav {sidenav_theme} accordion sb-nav-fixed" id="sidenavAccordion">
    <div class="sb-sidenav-menu">
      <Nav>
        <div class="sb-sidenav-menu-heading" />
        <SidebarItem on:press={()=> {
          theme = 'dark';
          }}
          text="Inicio"
          class={segment === '.' || segment === undefined ? 'active' : ''}
          leftIcon
          href=".">
          <i class="fas fa-tachometer-alt" slot="leftIcon" />
        </SidebarItem>
        <div class="sb-sidenav-menu-heading">MENU</div>
        <!-- <SidebarItem
          on:press={toggleLayout}
          class={!isLayoutOpen ? 'collapsed' : ''}
          text="Layout"
          leftIcon
          rightIcon>
          <i class="fas fa-columns" slot="leftIcon" />
          <i class="fas fa-angle-down" slot="rightIcon" />
        </SidebarItem> -->
        <Collapse isOpen={isLayoutOpen}>
          <Nav class="sb-sidenav-menu-nested">
            <!-- <SidebarItem
              on:press={() => {
                theme = 'dark';
                updateActiveLink('Static Navigation');
              }}
              class={segment === 'layouts' && activeLink === 'Static Navigation' ? 'active' : ''}
              href="layouts/static_navigation"
              text="Static Navigation" />
            <SidebarItem -->
            on:press={() => {
            theme = 'light';
            updateActiveLink('Light Sidenav');
            }} class={segment === 'layouts' && activeLink === 'Light Sidenav' ? 'active' : ''}
            href="layouts/light_sidenav" text="Light Sidenav" />
          </Nav>
        </Collapse>
        <!-- Alumnos -->
        <SidebarItem on:press={toggleAlumno} class={!isAlumnoOpen ? 'collapsed' : '' } text="Alumnos" rightIcon>
          <svg slot="leftIcon" class="svg-inline--fa fa-book-open fa-w-18" aria-hidden="true" focusable="false"
            data-prefix="fas" data-icon="people" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"
            data-fa-i2svg="">
            <path fill="currentColor" d="M542.22 32.05c-54.8 3.11-163.72 14.43-230.96 55.59-4.64
              2.84-7.27 7.89-7.27 13.17v363.87c0 11.55 12.63 18.85 23.28 13.49
              69.18-34.82 169.23-44.32 218.7-46.92 16.89-.89 30.02-14.43
              30.02-30.66V62.75c.01-17.71-15.35-31.74-33.77-30.7zM264.73
              87.64C197.5 46.48 88.58 35.17 33.78 32.05 15.36 31.01 0 45.04 0
              62.75V400.6c0 16.24 13.13 29.78 30.02 30.66 49.49 2.6 149.59 12.11
              218.77 46.95 10.62 5.35 23.21-1.94
              23.21-13.46V100.63c0-5.29-2.62-10.14-7.27-12.99z" />
          </svg>
          <i class="fas fa-angle-down" slot="rightIcon" />
          <!-- <i class="fas fa-angle-down" slot="rightIcon" /> -->
        </SidebarItem>
        <Collapse isOpen={isAlumnoOpen}>
          <Nav class="sb-sidenav-menu-nested">
            <SidebarItem href="./alumno" text="Listado Alumno" />
            <SidebarItem href="./documentos" text="Listado Documentos" />
            <!-- <SidebarItem href="./Upload" text="Listado Documentos" /> -->

          </Nav>
        </Collapse>
        <!-- fin Alumnos -->
      </Nav>
    </div>
    <div class="sb-sidenav-footer">
      <div class="small">{footerText}</div>
      {footerName}
    </div>
  </Nav>
</div>